//Color
$color-primary:#0400f1;
$color-primary-light:#7ed56f;
$color-primary-dark:#2bff00;

$color-secondary-light:#ee02bb;
$color-secondary-dark:#af002c;

$color-tertiary-light:#2998ff;
$color-tertiary-dark:#5643fa;

$color-grey:grey;
$color-grey-light-1:lightgrey;
$color-grey-2:rgb(80, 80, 80);
$color-grey-3:#999;

$color-grey-dark:brown;
$color-white:#fff;
$color-black:black;
$color-black-1:rgba(0, 0, 0, 0.89);
//font
$default-font-size:1.6rem;
//Grid Color
$grid-width:114rem;
$gutter-vertical:8rem;
$gutter-horizontal:6rem;